version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    # Optionally add ignore rules here
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
